apiVersion: apps/v1
kind: Deployment
metadata:
  name: ms-users
#spec : specification
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ms-users
  template:
    metadata:
      labels:
        app: ms-users
    spec:
      containers:
      - image: setoba06/users:latest
        name: users
        ports:
        - containerPort: 8001
        env:
          - name: PORT
            valueFrom:
              configMapKeyRef:
                name: ms-users
                key: port
          - name: DB_HOST
            valueFrom:
              configMapKeyRef:
                name: ms-users
                key: db_host
          - name: DATABASE
            valueFrom:
              configMapKeyRef:
                name: ms-users
                key: database
          - name: DB_USERNAME
            valueFrom:
              secretKeyRef:
                name: ms-users
                key: username
          - name: DB_PASSWORD
            valueFrom:
              secretKeyRef:
                name: ms-users
                key: password
          - name: COURSES_URL
            valueFrom:
              configMapKeyRef:
                name: ms-users
                key: course_url
          - name: MY_POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: MY_POD_IP
            valueFrom:
              fieldRef:
                fieldPath: status.podIP

        readinessProbe:
          httpGet:
            path: /actuator/health/readiness
            port: 8001
            scheme: HTTP
          initialDelaySeconds: 5
          periodSeconds: 20
          timeoutSeconds: 10
        livenessProbe:
          httpGet:
            path: /actuator/health/liveness
            port: 8001
            scheme: HTTP
          initialDelaySeconds: 10
          periodSeconds: 30
          timeoutSeconds: 10
        resources:
