version: "3.9"
services:
  ms-mysql:
    container_name: ms-mysql
    image: mysql:8
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: ms_users
    volumes:
      - data-mysql:/var/lib/mysql
    restart: always
    #configure a network is not mandatory.
    #Services into docker-compose.yml can communicate each other automatically
    networks:
      - spring

  ms-postgres:
    container_name: ms-postgres
    image: postgres:14-alpine
    ports:
      - "5433:5432"
    environment:
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: ms_courses
    volumes:
      - data-postgresql:/var/lib/postgresql
    restart: always
    networks:
      - spring

  ms-users:
    container_name: ms-users
    image: setoba06/users
#    build:
#      context: ./
#      dockerfile: ./ms-users/Dockerfile
    ports:
    - "8001:8001"
    #env_file: ./ms-users/.env
    #added to deploy in aws
    environment:
      PORT: 8001
      DB_HOST: ms-mysql:3306
      DATABASE: ms_users
      DB_USERNAME: root
      DB_PASSWORD: 1234
      COURSES_URL: ms-courses:8002
    networks:
      - spring
    depends_on:
      - ms-mysql
    restart: always

  ms-courses:
    container_name: ms-courses
    image: setoba06/courses
#    build:
#      context: ./
#      dockerfile: ./ms-courses/Dockerfile
    ports:
      - "8002:8002"
    #env_file: ./ms-courses/.env
    #added to deploy in aws
    environment:
      PORT: 8002
      DB_HOST: ms-postgres:5432
      DATABASE: ms_courses
      DB_USERNAME: postgres
      DB_PASSWORD: 1234
      USERS_URL: ms-users:8001
    networks:
      - spring
    depends_on:
      - ms-postgres
    restart: always

volumes:
  data-mysql:
    name: data-mysql
  data-postgresql:
    name: data-postgresql
networks:
  spring:
    name: spring