version: "3.9"
services:
  ms-mysql:
    container_name: ms-mysql
    image: mysql:8
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: ms_users
    volumes:
      - data-mysql:/var/lib/mysql
    restart: always
    #configure a network is not mandatory.
    #Services into docker-compose.yml can communicate each other automatically
    networks:
      - spring

  ms-postgres:
    container_name: ms-postgres
    image: postgres:14-alpine
    ports:
      - "5433:5432"
    environment:
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: ms_courses
    volumes:
      - data-postgresql:/var/lib/postgresql/data
    restart: always
    networks:
      - spring

  ms-users:
    container_name: ms-users
    image: users:latest
    ports:
    - "8001:8001"
    env_file: ./ms-users/.env
    networks:
      - spring
    depends_on:
      - ms-mysql
    restart: always

  ms-courses:
    container_name: ms-courses
    image: courses:latest
    ports:
      - "8002:8002"
    env_file: ./ms-courses/.env
    networks:
      - spring
    depends_on:
      - ms-postgres
    restart: always

volumes:
  data-mysql:
    name: data-mysql
  data-postgresql:
    name: data-postgresql
networks:
  spring:
    name: spring